<!-- header begining -->
    <div id="boxmenu">
      <table style="width: 100%;">
        <tr><td>
          <div id="m">
            <div class="menu"><a class="a" href="http://site.xyz.tk/">Главная</a></div>
            <div class="menu"><a class="a" href="/blog">Блог</a></div>
            <div class="menu"><a class="a" href="#">Сеть<br>
              <table>
                <tr><td>
                  <div><a href="http/site.xyz.tk/iptables/index.html">iptables</a></div>
                  <div><a href="#">rfc</a></div>
                  <div><a href="#"></a></div>
                  <div><a href="#"></a></div>
                </td></tr>
              </table>
            </a>
            </div>

            <div class="menu"><a class="a" href="#">1</a></div>
            <div class="menu"><a class="a" href="#">2</a></div>

          </div>

        </td></tr>

      </table>
    </div>
    <!-- header end -->
