<!-- menu begining -->
    <div id="boxmenu">
      <table style="width: 100%;">
        <tr><td>
          <div id="m">
            <div class="menu"><a class="a" href="/">Главная</a></div>
            <div class="menu"><a class="a" href="/aboutme.html">Обо мне</a></div>
            <!--
            <div class="menu"><a class="a" href="#">Сеть<br>
              <table>
                <tr><td>
                  <div><a href="/iptables/index.html">iptables</a></div>
                </td></tr>
              </table>
            </a>
            </div>

            <div class="menu"><a class="a" href="#">1</a></div>
            <div class="menu"><a class="a" href="#">2</a></div>
          </div>
          -->
        </td></tr>

      </table>
    </div>
    <!-- menu end -->
