body{
background-color: #FCF5EE;
margin: 10px;
}

p {
text-indent: 20px; /* Отступ абзатцев */
}
  
#boxmenu {
BACKGROUND: #f6f6f6;
BORDER: 1px #ccc solid;
POSITION: relative;
PADDING: 7px;
/* LEFT: 18%; */
Z-INDEX: 1/*для IE*/
}

/*без этого нарушается работа меню*/
#m * {
BORDER-COLLAPSE: collapse
}

/*стили основного меню*/
#m {
FONT: 13pt Verdana, sans-serif;
FONT-WEIGHT: bold
}

/*стиль ссылок основного меню*/
.a {
COLOR: #666;
TEXT-DECORATION: none
}

/*стили выпадающего меню для IE*/
* HTML #m .a table {
FONT: 12pt Verdana, sans-serif;
DISPLAY: block
}

/*стили выпадающего меню*/
.a table {
FONT: 12pt Verdana, sans-serif;
DISPLAY: block
}

/*скрывает выпадающие меню*/
#m table {
DISPLAY: none
}
#m table A {
DISPLAY: none
}

/*смена стилей при на ведении курсора*/
#m .a:hover {
TEXT-DECORATION: underline;
COLOR: #999999
}

.menu:hover {
COLOR: #666;
BORDER: #666 0px solid/*для OP*/
}

/*стили выпадающего меню при на ведении курсора*/
#m .a:hover table {
BACKGROUND: #f6f6f6;
BORDER: #ccc 1px solid;
POSITION: absolute;
DISPLAY: block;
WHITE-SPACE: nowrap
}

.menu:hover table {
BACKGROUND: #f6f6f6;
BORDER: #ccc 1px solid;
POSITION: absolute;
DISPLAY: block;
WHITE-SPACE: nowrap
}

#m .a:hover table A {
COLOR: #666;
TEXT-DECORATION: none;
BORDER-RIGHT: #666666 1px solid; /*дрожание по горизантали*/
PADDING: 1px 12px; /*отступы выпад меню*/
DISPLAY: block;
WHITE-SPACE: nowrap
}

#m .menu:hover table A {
COLOR: #666;
TEXT-DECORATION: none;
BORDER-RIGHT: #cccccc 1px solid;
PADDING: 1px 12px; /*отступы в подменю выпад. меню*/
DISPLAY: block;
WHITE-SPACE: nowrap
}

/*стиль ссылок вып. меню при наведении курсора*/
#m .a:hover table A:hover {
BACKGROUND: #fff;
COLOR: #666;
TEXT-DECORATION: none;
BORDER: #999 1px solid;/*дрожание по вертикали*/
PADDING-RIGHT: 12px;
PADDING-TOP: 0px;
PADDING-LEFT: 11px;
PADDING-BOTTOM: 0px;
DISPLAY: block
}

#m .menu:hover table A:hover {
BACKGROUND: #fff;
COLOR: #666;
TEXT-DECORATION: none;
BORDER: #999 1px solid;
PADDING-RIGHT: 12px;
padding-top: 0px;
PADDING-LEFT: 11px;
PADDING-BOTTOM: 0px;
DISPLAY: block
}

.menu {
MARGIN: 0 10px;
FLOAT: left;
}
