.posts a {
  color: #333;
  text-decoration: none;
  font: 14pt Verdana, sans-serif;
  font-weight: bold;
}
/*смена стилей при на ведении курсора*/
.posts a:hover {
  text-decoration: underline;
  color: #999999;
}

.posts ul {
  padding-left: 15px;
}
.posts li {
  list-style-type: none;
  font: 13pt Verdana, sans-serif;
}

.highlight pre {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px;
  background: #f6f6f6;
  overflow-x: scroll;
}
